
	<div class="row calculator">
		<div class="col-6">
			<h1>Mortgage Calculator</h1>
			<form id="calc">
				<div class="form-group row">
					<label class="col-3 col-form-label">Price of Home (HKD)</label>
					<div class="col-8">
						<input type="text" name="price">
					</div>
				</div>

				<div class="form-group row">

					<label class="col-3 col-form-label">Interest rates (please enter %)</label>
					<div class="col-8">
						<input type="number" name="interest_rate" step="0.01">
					</div>
				</div>

				<div class="form-group row">

					<label class="col-3 col-form-label">Months</label>
					<div class="col-8">
						<input type="number" name="month">
					</div>
				</div>

				<div id="result"></div>

				<input type="submit" value="Submit" class="btn btn-primary">


			</form>
		</div>
	</div>
