<div id="graphic" class="container-fluid">
    <div class="row">
        <div id="mappy"></div>
    </div>
    <div class="row">
        <div class="col-6 card">
            <h5 class="card-title">Histogram</h5>
            <div id="histogram" style="width: 500px; height: 370px;"></div>
        </div>
        <div class="col-6 card">
            <h5 class="card-title">Candle Chart</h5>
            <div id="candle" style="width: 500px; height: 370ppx;"></div>
        </div>


    </div>
</div>

<div class="btz">
    <button onclick="clusterMode()" class="btn btn-warning">Cluster Mode</button>
    <button onclick="clearCluster()"  class="btn btn-warning">Clear Cluster</button>

    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample">
    Filter
    </a>
</div>



<div class="collapse" id="collapseExample">
  <div class="card card-body col-8 collapsey">
        <form action="/" method="POST">
            <div class="regions row">
                <div class="bRegion col-3" id="HK">
                    <label for="HK"><strong>HK</strong></label><br>
                </div>
                <div class="bRegion col-3" id="KLN">
                    <label for="KLN"><strong>KLN</strong></label><br>
                </div>
                <div class="bRegion col-3" id="NTE">
                    <label for="NTE"><strong>NTE</strong></label><br>
                </div>
                <div class="bRegion col-3" id="NTW">
                    <label for="NTW"><strong>NTW</strong></label><br>
                </div>
            </div>

            <div class="others row">
                <div class="actualArea col-2">
                    <p><strong>Actual Area</strong></p><br>
                    <input type="radio" name="actualArea" value="<300">below 300 ft<br>
                    <input type="radio" name="actualArea" value="300-600">300-600 ft<br>
                    <input type="radio" name="actualArea" value="600-1000">600-1000 ft<br>
                    <input type="radio" name="actualArea" value=">1000">above 1000ft<br>
                </div>
                <div class="price col-2">
                    <p><strong>Price</strong></p><br>
                    <input type="radio" name="price" value="<3">below 3M<br>
                    <input type="radio" name="price" value="3-6">3-6M<br>
                    <input type="radio" name="price" value="6-10">6-10M<br>
                    <input type="radio" name="price" value=">10">above 10M<br>
                </div>
                <div class="actualPrice col-2">
                    <p><strong>Actual Price</strong></p><br>
                    <input type="radio" name="actualPrice" value="<10000">below 10000<br>
                    <input type="radio" name="actualPrice" value="10000-15000">10000-15000<br>
                    <input type="radio" name="actualPrice" value="15000-20000">15000-20000<br>
                    <input type="radio" name="actualPrice" value=">20000">above 20000<br>
                </div>
                <div class="date col-2">
                    <p><strong>Time Range</strong></p><br>
                    <input type="radio" name="date" value="30">Last 30 days<br>
                    <input type="radio" name="date" value="180">Last 180 days<br>
                    <input type="radio" name="date" value="365">Whole Year
                </div>
                <div class="charts col-2">
                    <p><strong>Chart type</strong></p><br>
                    <input type="radio" name="chart" value="histogram">histogram<br>
                    <input type="radio" name="chart" value="candle">candle<br>
                </div>
            </div>

            <div class="button filterbutt">
                <button id="good" class="btn btn-primary">Submit</button>
            </div>
        </form>

  </div>
</div>






<div id="fkingLong">
</div>
<div id="paginator" class="pagination">
    {{!-- buttons here --}}
</div>