<div id="graphic" class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="makeItFix scrollbar scrollbar-dark">
                <button class="badge badge-secondary" id="mapButton">Map</button>
                <button class="badge badge-secondary" id="chartButton">Chart</button>
                <div class="row" id="mapArea">
                    <div id="mappy"></div>
                    <div class="btz">
                        <button onclick="clusterMode()" class="btn btn-warning">Cluster Mode</button>
                        <button onclick="clearCluster()" class="btn btn-warning">Clear Cluster</button>
                    </div>
                </div>
                <div class="row" id="chartArea">

                    <div id="chartSelect">
                        <div class="btnChartSelect chartH">
                            <img src="./image/histogram.png" alt="" style="height: 3vw;width: 3vw;">
                            <p>Histogram</p>
                        </div>
                        <div class="btnChartSelect chartC">
                            <img src="./image/candle.png" alt="" style="height: 3vw;width: 3vw;">
                            <p>Candlestick</p>
                        </div>
                    </div>

                    <div class="chart" id = "cHistogram">
                        <h5>Histogram</h5>
                        <div id="histogram" style="width: 35vw; height: 60vh;"></div>
                    </div>
                    <div class="chart" id = "cCandle">
                        <h5>Candlestick</h5>
                        <div id="candle" style="width: 35vw; height: 60vh;"></div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-6">
         

                <div id="fkingLong">
                </div>
                <div id="paginator" class="pagination">
                    {{!-- buttons here --}}
                </div>
    

        </div>

    </div>

</div>