<br>
<br>


<form action="/login" method="post" class="col-4 login">

    <div class="form-group">
<h2 class="text-white">Login</h2>
        <input type="text" name="username" class="loggy"/>
        <label>Login with Username, Email or Phone</label>
    </div>
    <div class="form-group">
        <input type="password" name="password" class="loggy"/>
        <label>Password:</label>
    </div>
    <div class="form-group">
        <input type="submit" value="Log In" class="btn btn-warning"/>
    </div>

    <div class="form-group">
        <a href="/auth/facebook" class="btn btn-primary">Sign in with Facebook</a>
    </div>
</form>