<form action="/login" method="post">
    <div>
        <label>username/email/phone</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>

    <div>
        <a href="/auth/facebook">Log In with Facebook</a>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>

    <div>
        <a href="/signup">Register</a>
    </div>
</form>