<br>
<br>
<br>
<br>

<h2 class="white">New User Signup</h2>

<div class="reg">
    <form id="reggy">

        <input type="text" name="username" placeholder="Username">
        <p>Username must be and contain 5 - 12 characters</p>

        <input type="text" name="email" placeholder="E-mail">
        <p>Email must be a valid address, e.g. me@mydomain.com</p>

        <input type="password" name="password" placeholder="Password">
        <p>Password must alphanumeric (@, _ and - are also allowed) and be 8 - 20 characters</p>

        <input type="text" name="phone" placeholder="Phone">
        <p>Telephone must be a valid HK telephone number (8 digits)</p>


    </form>
    <div id="regWarn"></div>
    <button id="asdasd" class="btn btn-warning regBut">Register</button>
</div>



<script>
    let subReg = document.querySelector("#asdasd")
    let regWarn = document.querySelector("#regWarn")

    subReg.addEventListener("click", async (e) => {

        e.preventDefault();
        let username = document.querySelector("input[name='username']").value;
        let email = document.querySelector("input[name='email']").value;
        let password = document.querySelector("input[name='password']").value;
        let phone = document.querySelector("input[name='phone']").value;

        let usernameT = document.querySelector("input[name='username']").className;
        let emailT = document.querySelector("input[name='email']").className;
        let passwordT = document.querySelector("input[name='password']").className;
        let phoneT = document.querySelector("input[name='phone']").className;


    function regIt(bb) {
        console.log("test")
        if (JSON.parse(bb)) {
            if (usernameT == "valid" && emailT == "valid" && passwordT == "valid" && phoneT == "valid") {
                axios.post("/register", {
                    username: username,
                    email: email,
                    password: password,
                    phone: phone
                })
                    .then(() => {
                        alert("Register Success")
                        window.location = "/login"
                    })

            } else {
                regWarn.innerHTML = '<p id="redWarning">Please fill the form correctly</p>'
            }
        } else {
            regWarn.innerHTML = '<p id="redWarning">User exist</p>'
        }
    }




        await axios.post("/isUser", {
            username: username,
        })
            .then((res) => { regIt(res.data) })





    })
</script>