<h1>New User Signup</h1>

<div class="reg">
    <form action="/register" method="POST">

        <input type="text" name="username" placeholder="username">
        <p>Username must be and contain 5 - 12 characters</p>

        <input type="text" name="email" placeholder="email">
        <p>Email must be a valid address, e.g. me@mydomain.com</p>

        <input type="password" name="password" placeholder="password">
        <p>Password must alphanumeric (@, _ and - are also allowed) and be 8 - 20 characters</p>

        <input type="text" name="phone" placeholder="phone">
        <p>Telephone must be a valid HK telephone number (8 digits)</p>

        <button id="subRegister">Register</button>

    </form>
</div>



<script>
    document.querySelector("#subRegister").addEventListener("submit", async (e) => {
        e.preventDefault();
        let username = document.querySelector("input[name='username']").value;
        let email = document.querySelector("input[name='email']").value;
        let password = document.querySelector("input[name='password']").value;
        let phone = document.querySelector("input[name='phone']").value;
        
        await axios.post("/register", {
            username: username,
            email: email,
            password: password,
            phone: phone
        })
    })
</script>