/* INDEX PAGE */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #424141 !important; 

    
}

#locationName {
    width: 300px;
    display: inline-block;
}

#logo {
    margin-right:10px; 
    margin-left:10px; 
    height:60px;
    width:60px;
}

nav{
    position: fixed;
    margin-bottom:5px;
}

img {
    object-fit: cover;
}


.button-row {
    margin: 0 auto;
}


.btz {
    width: 500px;
    margin: 20px auto;
}

.collapsey {
    margin: 0 auto;
}

.relocate {
    text-align: center;
    
}

#chartArea {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #333;
} 
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #333;
}



/* ::-webkit-scrollbar-button{ display: block; height: 1px; border-radius: 0px; background-color: #949494; } ::-webkit-scrollbar-button:hover{ background-color: #AAA; } ::-webkit-scrollbar-thumb{ border-radius: 20px; background-color: #CCC; } ::-webkit-scrollbar-thumb:hover{ background-color: #CCC; } ::-webkit-scrollbar-track{ background-color: #949494; border-radius: 20px; } ::-webkit-scrollbar-track:hover{ background-color: #424141; border-radius: 20px; } ::-webkit-scrollbar{ width: 15px; } */
/*.regions {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 300px);
    grid-template-areas: 
    'a b c d';
    background-color: aquamarine
}

#HK { grid-area: a } #KLN {grid-area: b} #NTE {grid-area: c} #NTW{grid-area: d}

.others {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 300px);
    grid-template-areas: 
    'e f g h i';
    background-color: skyblue
}
*/

/*#graphic {
    height:400px;
    width:100%;
}
#graphic > div{
    display: flex;
}*/


.makeItFix {
    position: fixed;
    overflow-y: scroll;
    height: 85vh;
    width: 48vw;
    overflow-x: hidden;
    margin-top:100px;
    margin-bottom:100px;
}


#mappy {
    height: 70vh;
    width: 70vw;
    margin: 20px;
}

.filterbutt {
    margin-top: 30px;
}

/*.actualArea {grid-area: e} .price{grid-area: f} .actualPrice{grid-area: g} .date{grid-area: h} .charts{grid-area: i}*/

p{margin-top: 0;margin-bottom: 0}


/* user profile page css */

.user .sidebar {
    border: 1px solid #000;
    padding: 20px;
}

div.user {
    background: white ;
}

div.bookmark {
    overflow-y:scroll;
    height: 500px;
}

.mainbar .card {
    margin-top: 20px;
}

.user .mainbar {
    border: 1px solid #000;
      padding: 20px;
}   

#updateUser {
    margin-left: 210px;
}

.booky {
    border: 1px solid black;
    background: aquamarine;
}

/* log in page */

form.login {
    margin-top: 100px;
}

.login label {
    color: white;
}


/* calculator page */



.calculator > div {
    border: 1px solid #000;
    margin: 0 auto;
    padding: 20px;
}


.calculator h1 {
    padding: 20px 0;
}

.searchResult{
    background-color:blue;
    color: white;
    margin-top: 1px;
    margin-bottom: 1px;
}

#paginator{
    display: flex;
    flex-direction: row;
}


/* login form */

.login {
    margin: 0 auto;
}


/* Register page */

body{
    font-family: arial;
    color: #333;
}
h1{
    font-weight: normal;
    margin: 20px auto;
    text-align: center;
}

#redWarning{
    color: red;
}

form#reggy{
    width: 500px;
    margin: 20px auto;
}
#reggy > input{
    display: block;
    padding: 8px 16px;
    font-size: 2em;
    margin: 10px auto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #ccc;
    outline: none !important;
}

/* validation styles */

#reggy > input.valid{
    border-color: #36cc36;
}
#reggy > input.invalid{
    border-color: orange;
}
#reggy > input + p{
    font-family: arial;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    color: orange;
    opacity: 0;
    height: 0;
}
#reggy > input.invalid + p{
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}


div.reg {
    text-align: center;
}


/* list search data */

#fkingLong{
    /* display: flex; */
    overflow-y: scroll;
    width: 45vw;
    height: 85vh;
    margin-top: 100px;
}



.searchResult {
    display: grid;
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 20px;
}

.pSearch {
    color: red;
    font-weight: bold;
}


div.pagination {
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 10px;
    overflow-x: scroll;
}

.pag {
    display: inline-block;
    padding: 7px 15px;
    margin-right: 6px;
    border-radius: 3px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border: solid 1px #32373b;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}



.pag:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}


