/* INDEX PAGE */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

#locationName {
    width: 300px;
    display: inline-block;
}

#logo {
    margin-right:10px; 
    margin-left:10px; 
    height:60px;
    width:60px;
}

img {
    object-fit: cover;
}


.regions {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 300px);
    grid-template-areas: 
    'a b c d';
    background-color: aquamarine
}

#HK { grid-area: a } #KLN {grid-area: b} #NTE {grid-area: c} #NTW{grid-area: d}


#graphic {
    height:400px;
    width:100%;
}
#graphic > div{
    display: flex;
}

#mappy {
    height: 370px;
    width: 800px;
    margin: 20px;

}



.others {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 300px);
    grid-template-areas: 
    'e f g h i';
    background-color: skyblue
}

.actualArea {grid-area: e} .price{grid-area: f} .actualPrice{grid-area: g} .date{grid-area: h} .charts{grid-area: i}

p{margin-top: 0;margin-bottom: 0}


/* user profile page css */

.user .sidebar {
    border: 1px solid #000;
}


.user .mainbar {
    border: 1px solid #000;
}    


/* calculator page */

.calculator > div {
    border: 1px solid #000;
    margin: 0 auto;
}


.calculator h1 {
    padding: 20px 0;
}

.searchResult{
    background-color:blue;
    color: white;
    margin-top: 1px;
    margin-bottom: 1px;
}


