.regions {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 300px);
    grid-template-areas: 
    'a b c d';
    background-color: aquamarine
}

#HK { grid-area: a } #KLN {grid-area: b} #NTE {grid-area: c} #NTW{grid-area: d}

.others {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 300px);
    grid-template-areas: 
    'e f g h i';
    background-color: skyblue
}

.actualArea {grid-area: e} .price{grid-area: f} .actualPrice{grid-area: g} .date{grid-area: h} .charts{grid-area: i}

p{margin-top: 0;margin-bottom: 0}


/* user profile page css */

.user .sidebar {
    border: 1px solid #000;
}


.user .mainbar {
    border: 1px solid #000;
}    


/* calculator page */

.calculator > div {
    border: 1px solid #000;
    margin: 0 auto;
}


.calculator h1 {
    padding: 20px 0;
}
